	<!-- Begin Footer
	================================================== -->
	<div class="container">
			<div class="footer">
			<p class="pull-left">
				Copyright &copy; {{date format="YYYY"}} Pikalong Blog
			</p>
			<p class="pull-right">
				Pikalong Mediumish Theme by <a target="_blank" href="http://pikalong.me">Pikalong.Me</a>
			</p>
			<div class="clearfix">
			</div>
		</div>
	</div>
	<!-- End Footer
    ================================================== -->